<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.setecs.android.mpos"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="11"   />

    <application
        android:icon="@drawable/mobile_pos_station"
        android:label="@string/app_name"
                
         >
        <provider
            android:name="com.setecs.android.mpos.provider.MenuItemProvider"
            android:authorities="com.setecs.android.mpos.MenuItemProvider"
            android:exported="false" />
        <provider
            android:name="com.setecs.android.mpos.provider.MenuCategoryProvider"
            android:authorities="com.setecs.android.mpos.MenuCategoryProvider"
            android:exported="false" />
        <provider 
            android:name="com.setecs.android.mpos.provider.RegistrationProvider"
            android:authorities="com.setecs.android.mpos.RegistrationProvider"
            android:exported="false" />
		
        <activity
            android:name="com.setecs.android.mpos.HomeActivity"
            android:label="@string/app_name" 
            android:noHistory="true" 
            android:screenOrientation="landscape">"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.setecs.android.mpos.InventoryActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="landscape" >
        </activity>
        <!-- android:theme="@style/CustomTheme" -->
        <activity
            android:name="com.setecs.android.mpos.AdministrationActivity"
            android:label="@string/app_name"   
            android:noHistory="true"         
            android:screenOrientation="landscape" >
            </activity>
            
        <activity
            android:name="com.setecs.android.mpos.OrderActivity"
            android:label="@string/app_name" 
            android:noHistory="true"           
            android:screenOrientation="landscape">"
            </activity>
    </application>

</manifest>